
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        #heading {
            font-family: 'Lucida Handwriting';
            color:white;
        }
    </style>
</head>


<body background="\Images\111.jpeg" style="background-repeat:no-repeat;width:100%;background-size:cover">

    <div>
        <center> <h1 id="heading">Fruity <br /> &nbsp; &nbsp; Eatiee..!!</h1></center>

    </div>
</body>
</html>
